<template>
    <div class="container">



        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center"><h2>Участники мероприятия</h2></div>

                    <div class="card my-3">
                        <div class="card-body">
                            <form>
                                <div class="row justify-content-center">
                                    <div class="col-4">
                                        <select multiple
                                                class="form-control"
                                                name="events-ids"
                                                v-model="filter.events_ids"
                                        >
                                            <option
                                                    v-for="event in events"
                                                    :key="event.id"
                                                    :value="event.id"
                                            >
                                                {{event.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <button type="button" class="btn btn-success"
                                                v-on:click="onFilter">Отфильтровать по мероприятиям
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="card my-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <form>
                                            <div class="row">
                                                <div class="col-2">
                                                    <input type="text"
                                                           class="form-control"
                                                           placeholder="Фамилия"
                                                           v-model="createMember.surname"
                                                    >
                                                </div>
                                                <div class="col-2">
                                                    <input type="text"
                                                           class="form-control"
                                                           placeholder="Имя"
                                                           v-model="createMember.name"
                                                    >
                                                </div>
                                                <div class="col-2">
                                                    <input type="text"
                                                           class="form-control"
                                                           placeholder="Email"
                                                           v-model="createMember.email"
                                                    >
                                                </div>
                                                <div class="col-4">
                                                    <select multiple
                                                            class="form-control"
                                                            name="events-ids"
                                                            v-model="createMember.events_ids"
                                                    >
                                                        <option
                                                                v-for="event in events"
                                                                :key="event.id"
                                                                :value="event.id"
                                                        >
                                                            {{event.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-2">
                                                    <button type="button" class="btn btn-success"
                                                            v-on:click="onSaveMember(createMember)">Доавить участника
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3">Участник</div>
                            <div class="col-3">Email</div>
                            <div class="col-3">Мероприятия</div>
                        </div>
                        <div class="card my-3"
                             v-for="member in members"
                             :key="member.id"
                        >
                            <div class="card-body">
                                <div class="row my-3">
                                    <template v-if="member.editMode">
                                        <form>
                                            <div class="row">
                                                <div class="col-2">
                                                    <input type="text"
                                                           class="form-control"
                                                           placeholder="Фамилия"
                                                           v-model="member.surname"
                                                    >
                                                </div>
                                                <div class="col-2">
                                                    <input type="text"
                                                           class="form-control"
                                                           placeholder="Имя"
                                                           v-model="member.name"
                                                    >
                                                </div>
                                                <div class="col-2">
                                                    <input type="text"
                                                           class="form-control"
                                                           placeholder="Email"
                                                           v-model="member.email"
                                                    >
                                                </div>
                                                <div class="col-4">
                                                    <select multiple
                                                            class="form-control"
                                                            id="events-ids"
                                                            name="events-ids"
                                                            v-model="member.events_ids"
                                                    >
                                                        <option
                                                                v-for="event in events"
                                                                :key="event.id"
                                                                :value="event.id"
                                                        >
                                                            {{event.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-2">
                                                    <button type="button" class="btn btn-success"
                                                            v-on:click="onSaveChanges(member)">Сохранить
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </template>
                                    <template v-if="!member.editMode">
                                        <div class="col-3">{{member.surname}} {{ member.name }}</div>
                                        <div class="col-3">{{ member.email }}</div>
                                        <div class="col-3">
                                            <div class="list-group"
                                                 v-for="event in member.events"
                                                 :key="event.id"
                                            >
                                                <div class="list-group-item">
                                                    {{event.name}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <button class="btn btn-warning mr-3" v-on:click="onEditMember(member.id)">
                                                Изменить
                                            </button>
                                            <button class="btn btn-danger" v-on:click="onDelete(member.id)">Удалить</button>
                                        </div>
                                    </template>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <notifications position="top right" group="foo"/>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "Main",
        data: () => ({
            members: [],
            events: [],
            createMember: {
                name: '',
                surname: '',
                email: '',
                events_ids: []
            },
            filter: {
                events_ids: []
            },
        }),
        methods:{
            async getMembers() {
                const {data} = await axios.get('/api/member-list');
                this.members = data.data;
            },
            async getEvents() {
                const {data} = await axios.get('/api/event-list');
                this.events = data.data;
            },
            onEditMember(memberId) {
                this.members = this.members.map(function (member) {
                    if (member.id === memberId) {
                        member.editMode = true;
                        member.events_ids = member.events.map((event) => event.id);
                    }
                    return member
                });
            },
            onFilter(){
                let ids = this.filter.events_ids.join();
                let query = ids ? `?events-ids=${ids}`: '';
                console.log(ids);
                axios.get(`/api/member-list${query}`)
                    .then((response) => {
                        this.members = response.data.data;
                    })
                    .catch((error) => {
                        if (error.response.status === 422) {
                            this.showValidateErrors(error.response.data.errors);
                        } else {
                            console.log(error.response)
                        }
                    });
            },
            onSaveMember(createdMember){
                axios.post('/api/creat-member-and-attach-to-event', createdMember)
                    .then((response) => {
                        this.members.unshift(response.data.data);
                    })
                    .catch((error) => {
                        if (error.response.status === 422) {
                            this.showValidateErrors(error.response.data.errors);
                        } else {
                            console.log(error.response)
                        }
                    });
            },
            onSaveChanges(editedMember) {
                axios.put(`/api/update-member-and-member-events/${editedMember.id}`, editedMember)
                    .then((response) => {
                        this.members = this.members.map(function (member) {
                            if (member.id === response.data.data.id) {
                                member = response.data.data;
                            }
                            return member
                        });
                    })
                    .catch((error) => {
                        if (error.response.status === 422) {
                            this.showValidateErrors(error.response.data.errors);
                        } else {
                            console.log(error.response)
                        }
                    });
            },
            onDelete(id){
                axios.delete(`/api/member/${id}`)
                    .then(() => {
                        this.members = this.members.filter(function (member) {
                            if (member.id === id) {
                                return false
                            }
                            return member
                        });
                    })
                    .catch((error) => {
                        if (error.response.status === 422) {
                            this.showValidateErrors(error.response.data.errors);
                        } else {
                            console.log(error.response)
                        }
                    });
            },
            showValidateErrors(errors) {
                for (let error in errors) {
                    if (!errors.hasOwnProperty(error)) {
                        return false;
                    }
                    this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'Error',
                        text: errors[error].toString()
                    });
                }
            },
        },
        mounted() {
            this.getMembers();
            this.getEvents();
        }
    }
</script>
